<div class='title'>
  <div class="ui small header ">
    <i class="plug icon"></i>
    <div class='content'>Developer logs</div>
    <i class='window maximize icon' (click)='setWide()' ></i>
    <i class='close icon' (click)='closeLogs()' ></i>
  </div>
</div>


<div class='logs contentText'>

  <table [ngClass]='{ inverted: isDark() }' class='ui orange striped table'>
    <thead>
      <tr>
        <th>
          Message
        </th>
        <th>
          Sender
        </th>
        <th>
          Timestamp
        </th>
    </thead>
    <tbody>
      <tr *ngFor="let log of logs">
        <td> {{ log.message}}</td>
        <td> {{ log.sender}}</td>
        <td> {{ log.timestamp}}</td>
      </tr>
    </tbody>
  </table>
</div>