<div class='title'>
  <div class="ui small header ">
    <i class="plug icon"></i>
    <div class='content'>Developer logs</div>
    <i class='close icon' (click)='closeLogs()'></i>
  </div>
</div>


<div class='logs contentText'>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vulputate magna convallis urna tincidunt volutpat. Donec blandit
  ac sem quis mollis. Morbi sed tincidunt augue. Nullam posuere arcu nec ultricies pulvinar. Praesent a maximus urna. Proin
  pellentesque orci in nisl posuere dictum. Suspendisse pharetra semper ligula, eget tincidunt ex fermentum eu. Integer feugiat
  erat nec leo fringilla suscipit. Quisque ligula m etus, placerat vitae dictum sit amet, condimentum id felis. Donec id justo
  vulputate magna placerat interdum sed eu nisl. In hac habitasse platea dictumst. Sed bibendum vehicula quam in mattis.
  Aenean non elit vitae dui bibendum efficitur sed quis est. Vestibulum convallis lectus nunc, ac sodales est suscipit vel.
  Nunc elementum fringilla libero. Maecenas et lobortis neque. Sed convallis, dui consectetur interdum varius, metus purus
  egestas augue, a scelerisque dui nibh quis turpis. Nam ipsum risus, pellentesque eget varius eu, efficitur eget nunc. Integer
  tempus, lectus vel volutpat ullamcorper, sem ligula suscipit arcu, eu volutpat odio lectus eu tellus. Quisque interdum
  diam non diam accumsan bibendum. In elementum purus at ullamcorper tristique. Sed sodales semper gravida. Integer a erat
  neque. Nam fringilla ligula nec nunc dapibus dignissim. Vestibulum tempus lobortis mattis. Suspendisse rutrum at nulla
  accumsan tincidunt. In vel sollicitudin eros. In non volutpat lacus. Nullam porta diam velit, nec laoreet nibh venenatis
  in. Nullam ex purus, vestibulum quis euismod quis, gravida at orci. Donec consectetur dui nulla, in vehicula lorem viverra
  quis. Aenean hendrerit dui et volutpat iaculis. Quisque iaculis hendrerit diam id pharetra. Nam a arcu in mauris fermentum
  eleifend eu id nulla. Integer malesuada mi orci, non tempus turpis aliquet et. Praesent posuere ante erat, quis vehicula
  magna vestibulum vel. Fusce eu augue nec lacus pellentesque vulputate vitae et est. Curabitur mollis, orci a consectetur
  laoreet, augue sapien pellentesque orci, eu tincidunt eros metus sit amet erat. Aliquam vulputate mauris dui, vitae tristique
  risus ultrices lacinia. Integer et mauris aliquam, consequat libero tincidunt, aliquet lacus. Nulla at ipsum et tortor
  auctor maximus. Duis ut aliquam metus. Etiam pharetra lorem orci, quis sodales erat placerat eu. Nam at euismod risus.
  Etiam ac orci placerat, hendrerit nulla eget, facilisis tellus. Aliquam tincidunt sollicitudin neque, auctor scelerisque
  mi iaculis in. In accumsan lorem ac nibh placerat, sed auctor ex finibus.
</div>