body {
    box-sizing: border-box;
    overflow: hidden;
    overflow: hidden !important;
    margin: 0;
    padding: 0;
}

td {
    display: table-cell !important;
}

body ::-webkit-scrollbar {
    width: 7px !important;
}

app-side-bar {
    position: absolute;
    z-index: 203;
    top: 0;
    left: 0;
    /*width: 425px;*/
    height: 100%;
    background-color: #fafafa;
    /*padding: 5px;*/
    overflow: hidden;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.2)
}

app-map {
    position: absolute;
    top: 0;
    right: 0;
    /*width:calc(100% - 425px);*/
    height: 100%;
    /*background-color: #00cc66; */
}

#map {
    position: absolute;
    width: 100%;
    height: 100%;
}

app-console {
    position: absolute;
    z-index: 201;
    bottom: 15px;
    /*right: 50px;
    width: calc( 100% - 525px);*/
    height: 200px;
    background-color: #fafafa;
    border-radius: 5px;
    overflow-y: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
}

app-console .ui.header>.icon {
    font-size: 1em;
}

app-console .icon.close {
    position: absolute;
    right: 5px;
    top: 8px;
}

app-console:not(.show) {
    -webkit-transform: translateX(3000px);
    transform: translateX(3000px);
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
}

.title {
    position: absolute;
    width: 100%;
    background: #f2711c;
    top: 0;
    left: 0;
    padding: 10px;
    color: white;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.title .header.ui {
    color: white !important;
    margin: 0;
}

.viewLogs {
    padding: 9px 10px;
    position: absolute;
    z-index: 200;
    bottom: 10px;
    right: 10px;
    border-radius: 100%;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.4);
    color: grey;
    background: #f2711c;
}

.viewLogs i.icon {
    margin: 0 !important;
}

.viewLogs.new:before {
    position: absolute;
    visibility: hidden;
    margin: -.5em 0 0 1.4em;
    background-color: #f2711c;
    content: '';
    border-radius: 100%;
    width: 8px;
    height: 8px;
}

.viewLogs.new:after {
    position: absolute;
    visibility: hidden;
    margin: -0.45em 0 0 .3em;
    border: 1px solid #f2711c;
    content: '';
    border-radius: 100%;
    width: 6px;
    height: 6px;
    -webkit-animation: pulsar 2.5s ease-out infinite;
    animation: pulsar 2s ease-out infinite;
}

@keyframes pulsar {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
        opacity: .25;
    }
    100% {
        transform: scale(3);
        -webkit-transform: scale(3);
        opacity: .5;
    }
}

viewLogs {
    position: absolute;
    margin: -.5em 0 0 .2em;
    background-color: #f2711c;
    content: '';
    border-radius: 100%;
    width: 8px;
    height: 8px;
}

.viewLogs:not(.grey) {
    background:#f2711c;
    color: white;
}

.logs {
    overflow-y: auto;
    height: inherit;
    padding: 40px 10px;
}

.sideBarContent {
    overflow-y: auto;
    height: calc(100% - 52px);
    margin-top: 52px;
    padding: 10px;
}

header {
    position: absolute;
    z-index: 1;
    background: #f2711c;
    width: 100%;
    height: 52px;
    padding: 17px;
    color: white;
    top: 0;
}

header .icon,
.title .mobile .icon {
    font-size: 28px !important;
    color: #fafafa !important;
}

header h1 {
    position: absolute;
    top: 8px;
    margin: 0 calc((100% - 95px)/2);
    width: 95px;
}

.title .mobile .icon {
    padding-top: 8px;
    padding-left: 12px;
}

/*body .contentText{
    background-color: #333;
    color: #fafafa;
}*/

.shadow.show {
    display: block !important;
}

.shadow {
    display: none !important;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 201;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: background-color .5s linear;
    transition: background-color .5s linear;
}

.stages {
    margin-bottom: 10px;
}

.hide {
    display: none;
}

#logo {
    position: absolute;
    left: 10px;
    bottom: 40px;
}

.mapboxgl-ctrl-logo {
    display: none !important;
}

/*app-modal.hide .modal{
    right: 5000px;
}
app-modal.hide .modal-shadow{
    right: 5000px;
}*/

.modal {
    position: fixed;
    top: 100px;
    left: calc(450px + 50px);
    width: 500px;
    z-index: 200;
    width: calc((100% - 450px - 100px));
    height: auto;
    /*background-color: rgba(255, 255, 255, 0.2);*/
}

.modal h1.ui.header {
    color: #fafafa;
    text-align: center;
}

.modal-shadow {
    position: fixed;
    top: 0;
    left: 450px;
    width: calc(100% - 450px);
    height: 100%;
    z-index: 199;
    background-color: rgba(0, 0, 0, 0.5)
}

.modal #right,
.modal #left,
.modal .next {
    /*margin-top: 100px;*/
    margin-top: 15px;
}

.modal #right.basic,
.modal #left.basic,
.modal .next.basic {
    pointer-events: none;
}

.modal .button-container {
    margin: 15px 0 30px 0;
}

.wait.yellow:after {
    content: ' .';
    animation: dots 2s infinite;
}

@keyframes dots {
    0%,
    20% {
        color: rgba(255, 255, 255, 0);
        text-shadow: .25em 0 0 rgba(0, 0, 0, 0), .5em 0 0 rgba(0, 0, 0, 0);
    }
    40% {
        color: white;
        text-shadow: .25em 0 0 rgba(0, 0, 0, 0), .5em 0 0 rgba(0, 0, 0, 0);
    }
    60% {
        text-shadow: .25em 0 0 white, .5em 0 0 rgba(0, 0, 0, 0);
    }
    80%,
    100% {
        text-shadow: .25em 0 0 white, .5em 0 0 white;
    }
}

.modal-content-text {
    position: absolute;
    margin: 0 75px;
    width: calc(100% - 2 * 75px);
    min-height: 300px;
    height: auto;
    border-radius: 8px;
    border: 2px solid #fafafa;
    padding: 10px;
    background-color: white;
    box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.3);
}

.modal-content-text img {
    position: relative;
    max-width: 650px;
    height: auto;
    display: block;
    float: left;
    margin-bottom: 30px;
}

.modal-content-text.left:not(.active) {
    left: 5000px;
    transition: left .2 ease;
}

.modal-content-text.right:not(.active) {
    right: 5000px;
    transition: right .2 ease;
}

.modal-content-text.active {
    right: 0;
    left: 0;
    transition: right .2 ease left .2 ease;
}

.grey.ui.toggle.checkbox input:focus:checked~.box:before,
.grey.ui.toggle.checkbox input:focus:checked~label:before {
    background-color: #444 !important;
}

/*.grey.ui.toggle.checkbox .box:before, .grey.ui.toggle.checkbox label:before {
    background-color: #fff!important;
    
}*/
#colorMode.grey.ui.toggle.checkbox .box, #colorMode.grey.ui.toggle.checkbox label{
    color: white!important;
}
#colorMode.ui.toggle.checkbox input:checked~.box, #colorMode.ui.toggle.checkbox input:checked~label{
    color: white!important;
}
/*.grey.ui.toggle.checkbox input:checked~.box, .grey.ui.toggle.checkbox input:checked~label{
    color: white!important;
}
.grey.ui.checkbox .box:after, .grey.ui.checkbox label:after{
    color: white!important;
}*/
.grey.ui.toggle.checkbox input:checked ~ .box:before,
.grey.ui.toggle.checkbox input:checked ~ label:before {
  background-color: #444 !important;
}
#colorMode{
    top: 7px;
    float: right;
    color: #fafafa!important;
}
.dark{
    background-color: #444;
    color: #fafafa;
}
.dark .contentText{
    background-color: #444;
    color: #fafafa;
}
.dark .modal-content-text, .dark .modal-content-text .field label, .dark .modal-content-text .field input{
    background-color: #444!important;
    color: #fafafa!important;
    border: none;
}
.dark .modal-content-text .ui.divider{
    color: white;
}
.dark .ui.table td.active,.dark .ui.table tr.active {
    background: #ff9900!important;
    color: #fafafa!important;
}
/*.modal-content-text .field, .modal-content-text p{
    margin: 1em 0!important;
    padding: 0 1em;
}*/
.dark .modal-content-text img{
    margin-left: 1em;
}
/*.modal-content-text .button-container{
    padding: 0 1em;
}*/
/*.dark .modal-content-text label{
    color: #fafafa;
}*/
@media screen and (max-width: 899px) {
    .modal-shadow {
        width: 100%;
        left: 0;
    }
    .modal {
        width: calc(100% - 2* 25px);
        left: 25px;
    }
    .modal-content-text {
        margin: 0 5px;
        width: calc(100% - 2 * 5px);
    }
    .mobile {
        display: inline-block;
    }
    app-side-bar .title .ui.header {
        display: none;
    }
    .viewLogs {
        padding: 20px;
        font-size: 16px;
    }
    app-side-bar {
        width: 90%;
        transform: translateX(-1000px);
        -webkit-transition-duration: 0.35s;
        transition-duration: 0.35s;
    }
    app-side-bar.show {
        transform: translateX(0);
        -webkit-transition-duration: 0.35s;
        transition-duration: 0.35s;
    }
    app-map {
        width: 100%;
    }
    app-console {
        bottom: 5px;
        right: 5px;
        width: calc( 100% - 10px);
    }
}

@media screen and (min-width: 900px) {
    .modal-shadow {
        width: calc(100% - 370px);
        left: 370px;
    }
    .modal {
        width: calc((100% - 370px - 100px));
        left: calc(370px + 50px);
    }
    .mobile {
        display: none;
    }
    .shadow.mobile {
        display: none !important;
    }
    app-side-bar {
        width: 370px
    }
    app-side-bar .title .ui.header {
        display: inline-block;
    }
    app-map {
        width: calc(100% - 370px);
    }
    app-console {
        right: 50px;
        width: calc( 100% - 370px - 100px);
    }
}

@media screen and (min-width: 1200px) {
    .modal-shadow {
        width: calc(100% - 450px);
        left: 450px;
    }
    .modal {
        width: calc((100% - 450px - 100px));
        left: calc(450px + 50px);
    }
    .mobile {
        display: none;
    }
    .shadow.mobile {
        display: none !important;
    }
    app-side-bar {
        width: 450px;
    }
    app-map {
        width: calc(100% - 450px);
    }
    app-console {
        right: 150px;
        width: calc( 100% - 425px - 300px);
    }
}

/**media for image**/

@media screen and (max-width: 449px) {
    .modal-content-text.right-image .ui.form {
        width: 100%;
        display: block;
    }
    .modal-content-text.right-image .button-container {
        float: none;
    }
    .modal-content-text.right-image img {
        width: 100%;
        float: none;
        margin: 0px;
    }
}

@media screen and (min-width: 450px) {
    .modal-content-text.right-image .ui.form {
        width: 100%;
        display: block;
    }
    .modal-content-text.right-image .button-container {
        float: none;
    }
    .modal-content-text.right-image img {
        max-width: 350px;
        width: 100%;
        margin: 0 calc((100% - 350px)/2);
        float: none;
    }
}

@media screen and (min-width: 699px) {
    .modal-content-text.right-image .ui.form {
        width: calc(100% - 360px);
        display: inline-block;
    }
    .modal-content-text.right-image .button-container {
        float: left;
    }
    .modal-content-text.right-image img {
        max-width: 350px;
        width: 100%;
        float: right;
        margin: 0px;
    }
}

@media screen and (min-width: 700px) {
    .modal-content-text.right-image .ui.form {
        width: calc(100% - 360px);
        display: inline-block;
    }
    .modal-content-text.right-image .button-container {
        float: left;
    }
    .modal-content-text.right-image img {
        max-width: 350px;
        width: 100%;
        float: right;
        margin: 0px;
    }
}

@media screen and (min-width: 900px) {
    .modal-content-text.right-image .ui.form {
        width: 100%;
        display: block;
        float: none;
    }
    .modal-content-text.right-image .button-container {
        float: none;
    }
    .modal-content-text.right-image img {
        float: none;
        margin: 0 auto;
        max-width: 450px;
        width: 100%;
    }
}

@media screen and (min-width: 1550px) {
    .modal-content-text.right-image .ui.form {
        width: calc(100% - 460px);
        display: inline-block;
    }
    .modal-content-text.right-image .button-container {
        float: left;
    }
    .modal-content-text.right-image img {
        max-width: 450px;
        width: 100%;
        float: right;
        margin-bottom: 30px;
    }
}