<div class='title'>
  <div class='mobile'>
    <i class='icon bars' (click)='hideSideBar()'></i>
  </div>
  <h1 class="ui header">FAI app</h1>
  <div class="grey ui toggle checkbox" id='colorMode'>
    <input type="checkbox" name="popularity" tabindex="0">
    <label><i class='icon moon'></i>Night mode </label>
  </div>
</div>
<div [ngClass]='{dark: dark}' class='sideBarContent contentText'>
  <div class="ui dimmer">
    <div class="ui text loader">Loading</div>
  </div>
  <div class='stages'>
    <button id='start' class="ui orange button" (click)='start()'>
      Start work
    </button>
  </div>
  <div class='stages'>
    <table [ngClass]='{hide: (RS.llh == undefined || RS.llh == {}), inverted: dark }' class="ui small orange striped table">
      <thead>
        <tr>
          <th class="ui orange" colspan="3">
            Reference station
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class='base-point' (click)='selectPoint([RS.llh.lat, RS.llh.lon], "base")'>
          <td>{{RS.state}}</td>
          <td *ngIf='RS.llh!=undefined && RS.llh!={}'>{{RS.llh.lat}}</td>
          <td *ngIf='RS.llh!=undefined && RS.llh!={}'>{{RS.llh.lon}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class='stages'>
    <table *ngIf='CP.llh!=undefined && CP.llh!={}' [ngClass]='{inverted: dark}' class="ui small orange striped table">
      <thead>
        <tr>
          <th class="ui orange" colspan="3">
            Target
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class='center-point' (click)='selectPoint([CP.llh.lat, CP.llh.lon], "center")'>
          <td>Center point</td>
          <td [ngClass]='{hide: (CP.llh!=undefined && CP.llh!={}) }'>{{CP.llh.lat}}</td>
          <td [ngClass]='{hide: (CP.llh!=undefined && CP.llh!={}) }'>{{CP.llh.lon}}</td>
        </tr>
        <tr *ngIf='AP.llh!=undefined && AP.llh!={}' class='0-point' (click)='selectPoint([AP.llh.lat, AP.llh.lon], "0")'>
          <td [ngClass]='{hide: (AP.llh!=undefined && AP.llh!={}) }'>Azimuth point</td>
          <td [ngClass]='{hide: (AP.llh!=undefined && AP.llh!={}) }'>{{AP.llh.lat}}</td>
          <td [ngClass]='{hide: (AP.llh!=undefined && AP.llh!={}) }'>{{AP.llh.lon}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>