<div class='title'>
  <div class='mobile'>
    <i class='icon bars' (click)='hideSideBar()'></i>
  </div>
  <h1 class="ui header">FAI app</h1>
</div>
<div class='sideBarContent contentText'>
  <div class='stages'>
    <button class="ui green button" (click)='start()'>
      Start work
    </button>
  </div>
  <div class='stages'>
    <button class="ui green button" (click)='initBase()'>
      Init base position
    </button>
    <table [ngClass]='{hide: (base === undefined)}' class="ui small green striped table">
      <thead>
        <tr>
          <th class="ui green" colspan="3">
            Points
          </th>
      </thead>
      <tbody>
        <tr *ngIf='base!=undefined' class='base-point' (click)='selectPoint(base, "base")'>
          <td>Base point </td>
          <td>{{base[0]}}</td>
          <td>{{base[1]}}</td>
        </tr>
      </tbody>
    </table>
    <!--<p *ngIf='center!=undefined'>Init base coordinates: {{center[0]}};{{center[0]}};</p>-->
  </div>
  <div class='stages'>
    <button [ngClass]='{green: (center !== undefined)}' class="ui button" (click)='buildCross()'>
      Build cross
    </button>
    <table [ngClass]='{hide: (points === undefined)}' class="ui small green striped table">
      <thead>
        <tr>
          <th class="ui green" colspan="3">
            Points
          </th>
      </thead>
      <tbody *ngIf='points!=undefined'>
        <tr class='center-point' (click)='selectPoint(center, "center")'>
          <td>Center point</td>
          <td>{{center[0]}}</td>
          <td>{{center[1]}}</td>
        </tr>
        <tr *ngFor='let point of points, let i = index' class='{{i}}-point' (click)='selectPoint(point.geometry.coordinates[1], i)'>
          <td>Point {{i}}</td>
          <td>{{point.geometry.coordinates[1][0]}}</td>
          <td>{{point.geometry.coordinates[1][1]}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
