<div class='title'>
  <div class='mobile'>
    <i class='icon bars' (click)='hideSideBar()'></i>
  </div>
  <h1 class="ui header">FAI app</h1>
  <div class="grey ui toggle checkbox" id='mapMode'>
    <input type="checkbox" name="popularity" tabindex="0">
    <label>Map mode </label>
  </div>
  <div class="grey ui toggle checkbox" id='colorMode'>
    <input type="checkbox" name="popularity" tabindex="0">
    <label><!--<i class='icon moon'></i>-->Dark mode </label>
  </div>
</div>
<div [ngClass]='{dark: dark}' class='sideBarContent contentText'>
  <div class="ui dimmer">
    <div class="ui text loader">Loading</div>
  </div>
  <div class='stages'>
    <button id='start' class="ui mini orange button" (click)='start()'>
      Init work
    </button>
    <button id='start' [ngClass]='{disabled: flightId == undefined || targetId == undefined || rtks}' class="ui mini orange button"
      (click)='runRTKserver()'>
      Start RTK
    </button>
    <button id='stop' *ngIf='rtks' class="ui mini orange button"
      (click)='stopRTKserver()'>
      Stop RTK
    </button>
    <!--<button id='restart' *ngIf='rtks' class="ui mini orange button"
      (click)='restartRTKserver()'>
      Restart RTK
    </button>-->
  </div>
  <div class='stages'>
    <table [ngClass]='{hide: (RS.llh == undefined || RS.llh == {}),inverted: dark}' class="ui small orange striped table ">
      <tbody>
        <tr>
          <td>RS status</td>
          <td>{{RS.state}}</td>
        </tr>
        <tr *ngIf='flightId != undefined'>
          <td>Flight id</td>
          <td>{{flightId}}</td>
        </tr>
        <tr *ngIf='targetId != undefined'>
          <td>Target id</td>
          <td>{{targetId}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class='stages'>
    <table *ngIf='(RS.llh != undefined && RS.llh != {})' [ngClass]='{inverted: dark}' class="ui small orange striped table target-table">
      <thead (click)='hideTable("target-table")'>
        <tr>
          <th class="ui orange" colspan="3">
            Target<i class="icon angle up"></i>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf='(RS.llh != undefined && RS.llh != {})' class='base-point' (click)='selectPoint([RS.llh.lon, RS.llh.lat], "base")'>
          <td>Reference station</td>
          <td [ngClass]='{hide: (RS.llh!=undefined && RS.llh!={}) }'>{{RS.llh.lat.toFixed(3)}}</td>
          <td [ngClass]='{hide: (RS.llh!=undefined && RS.llh!={}) }'>{{RS.llh.lon.toFixed(3)}}</td>
        </tr>
        <tr *ngIf='CP.llh!=undefined && CP.llh!={}' class='center-point' (click)='selectPoint([CP.llh.lon, CP.llh.lat], "center")'>
          <td>Center point</td>
          <td [ngClass]='{hide: (CP.llh!=undefined && CP.llh!={}) }'>{{CP.llh.lat.toFixed(3)}}</td>
          <td [ngClass]='{hide: (CP.llh!=undefined && CP.llh!={}) }'>{{CP.llh.lon.toFixed(3)}}</td>
        </tr>
        <tr *ngIf='AP.llh!=undefined && AP.llh!={}' class='0-point' (click)='selectPoint([AP.llh.lon, AP.llh.lat], "0")'>
          <td [ngClass]='{hide: (AP.llh!=undefined && AP.llh!={}) }'>Azimuth point</td>
          <td [ngClass]='{hide: (AP.llh!=undefined && AP.llh!={}) }'>{{AP.llh.lat.toFixed(3)}}</td>
          <td [ngClass]='{hide: (AP.llh!=undefined && AP.llh!={}) }'>{{AP.llh.lon.toFixed(3)}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class='stage'>
    <table *ngIf='markers.length!=0' [ngClass]='{inverted: dark}' class='ui table orange striped'>
      <thead>
        <th class='ui orange' colspan="3">
          Markers
        </th>
      </thead>
      <tbody>
        <tr>
          <td>
            State
          </td>
          <td>
            Marker Id
          </td>
          <td>
            Azimuth
          </td>
          <td>
            Distance
          </td>
        </tr>
        <tr *ngFor='let marker of markers' (click)='selectMarker(marker)'>
          <td>{{marker.state}}</td>
          <td *ngIf='marker.state == "ready"'>{{marker.marker_id}}</td>
          <td *ngIf='marker.state == "ready"'>{{marker.azimuth.toFixed(3)}}</td>
          <td *ngIf='marker.state == "ready"'>{{marker.distance.toFixed(3)}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--<div class='stages'>
    <table [ngClass]='{hide: (RS.llh == undefined || RS.llh == {}), inverted: dark }' class="ui small orange striped table">
      <thead>
        <tr>
          <th class="ui orange" colspan="3">
            Reference station
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class='base-point' (click)='selectPoint([RS.llh.lon, RS.llh.lat], "base")'>
          <td>{{RS.state}}</td>
          <td *ngIf='RS.llh!=undefined && RS.llh!={}'>{{RS.llh.lat}}</td>
          <td *ngIf='RS.llh!=undefined && RS.llh!={}'>{{RS.llh.lon}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class='stages'>
    <table *ngIf='CP.llh!=undefined && CP.llh!={}' [ngClass]='{inverted: dark}' class="ui small orange striped table">
      <thead>
        <tr>
          <th class="ui orange" colspan="3">
            Target<i class="icon angle up"></i>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class='center-point' (click)='selectPoint([CP.llh.lon, CP.llh.lat], "center")'>
          <td>Center point</td>
          <td [ngClass]='{hide: (CP.llh!=undefined && CP.llh!={}) }'>{{CP.llh.lat}}</td>
          <td [ngClass]='{hide: (CP.llh!=undefined && CP.llh!={}) }'>{{CP.llh.lon}}</td>
        </tr>
        <tr *ngIf='AP.llh!=undefined && AP.llh!={}' class='0-point' (click)='selectPoint([AP.llh.lon, AP.llh.lat], "0")'>
          <td [ngClass]='{hide: (AP.llh!=undefined && AP.llh!={}) }'>Azimuth point</td>
          <td [ngClass]='{hide: (AP.llh!=undefined && AP.llh!={}) }'>{{AP.llh.lat}}</td>
          <td [ngClass]='{hide: (AP.llh!=undefined && AP.llh!={}) }'>{{AP.llh.lon}}</td>
        </tr>
      </tbody>
    </table>
  </div>-->

  <!--<div class='stages'>
    <table [ngClass]='{inverted: dark}' class="ui small orange striped table">
      <tbody>
        <tr>
          <td>RS status</td>
          <td>{{RS.state}}</td>
        </tr>
        <tr>
          <td>Flight id</td>
          <td>{{flightId}}</td>
        </tr>
        <tr>
          <td>Target id</td>
          <td>{{targetId}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class='stages'>
    <table [ngClass]='{inverted: dark}' class="ui small orange striped table test">
      <thead (click)='hideTable("test")'>
        <tr>
          <th class="ui orange" colspan="3">
            Target<i class="icon angle up"></i>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class='rf-point'>
          <td>Reference station</td>
          <td>15</td>
          <td>16</td>
        </tr>
        <tr class='center-point'>
          <td>Center point</td>
          <td>15</td>
          <td>16</td>
        </tr>
        <tr class='0-point'>
          <td>Azimuth point</td>
          <td>12</td>
          <td>12</td>
        </tr>
      </tbody>
    </table>
  </div>-->
</div>